<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mod9" frontName="mod9">
            <module name="Mage2tv_Mod9" before="Magento_Backend" />
        </route>
    </router>
</config>
