<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="mod9" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mod9</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="text_to_display" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text to Display</label>
                </field>
            </group>
            <group id="mod16" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mod16</label>
                <field id="page_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Page Color</label>
                     <comment><![CDATA[Select a color for the entire page int <strong>rrggbb</strong> format only.]]></comment>
                    <frontend_model>Mage2tv\Mod9\Block\Adminhtml\ColorPicker</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>