<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MagicToolbox\Magic360\Block\Product\View\Gallery">
        <plugin name="GetFirstImage" type="Mage2tv\Userstory25\Plugin\GetFirstImagePath" sortOrder="1" disabled="false" />
    </type>
</config>